In [9]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import warnings
import time
import random

def crawling(soup) :
    # print(soup)
    body = soup.find("body")
    result = []
    for p in tbody.find_all('p', class_ = 'title'):
        result.append(p.get_text().strip())
    return result

company_code = '005930' # 삼성전자
url ="https://finance.naver.com/item/sise_day.nhn?code=" + company_code
    
headers = { 
             'referer' : 'https://finance.naver.com/item/sise.naver?code=005930',
             'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36'
            }


response = requests.get(url, headers=headers)
soup = BeautifulSoup(response.text, "html.parser")

soup

<html lang="ko">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<title>네이버페이 증권</title>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20240124162200/css/newstock.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20240124162200/css/common.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20240124162200/css/layout.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20240124162200/css/main.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20240124162200/css/newstock2.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20240124162200/css/newstock3.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20240124162200/css/world.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<script language="JavaScript">
function mouseOver(obj){
  obj.style.backgroundColor="#f6f4e5";
}
function mouseOut(obj){
  obj.style.backgroundColor="#ffffff";
}
</script>
<h4 class="tlline2"><strong><span class="red03">일별</span>시세</strong></h4>
<table cellspacing="0" class="type2">
<tr>
<th>날짜</th>
<th>종가</th>
<th>전일비</th>
<th>시가</th>
<th>고가</th>
<th>저가</th>
<th>거래량</th>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2024.01.31</span></td>
<td class="num"><span class="tah p11">72,700</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				1,600
				</span>
</td>
<td class="num"><span class="tah p11">73,400</span></td>
<td class="num"><span class="tah p11">74,000</span></td>
<td class="num"><span class="tah p11">72,700</span></td>
<td class="num"><span class="tah p11">10,964,192</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2024.01.30</span></td>
<td class="num"><span class="tah p11">74,300</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				100
				</span>
</td>
<td class="num"><span class="tah p11">75,000</span></td>
<td class="num"><span class="tah p11">75,300</span></td>
<td class="num"><span class="tah p11">73,700</span></td>
<td class="num"><span class="tah p11">12,244,418</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2024.01.29</span></td>
<td class="num"><span class="tah p11">74,400</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				1,000
				</span>
</td>
<td class="num"><span class="tah p11">73,800</span></td>
<td class="num"><span class="tah p11">75,200</span></td>
<td class="num"><span class="tah p11">73,500</span></td>
<td class="num"><span class="tah p11">13,976,521</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2024.01.26</span></td>
<td class="num"><span class="tah p11">73,400</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				700
				</span>
</td>
<td class="num"><span class="tah p11">73,700</span></td>
<td class="num"><span class="tah p11">74,500</span></td>
<td class="num"><span class="tah p11">73,300</span></td>
<td class="num"><span class="tah p11">11,160,062</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2024.01.25</span></td>
<td class="num"><span class="tah p11">74,100</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				100
				</span>
</td>
<td class="num"><span class="tah p11">74,200</span></td>
<td class="num"><span class="tah p11">74,800</span></td>
<td class="num"><span class="tah p11">73,700</span></td>
<td class="num"><span class="tah p11">11,737,747</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr>
<td bgcolor="#e1e1e1" colspan="7" height="1"></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2024.01.24</span></td>
<td class="num"><span class="tah p11">74,000</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				1,200
				</span>
</td>
<td class="num"><span class="tah p11">75,200</span></td>
<td class="num"><span class="tah p11">75,200</span></td>
<td class="num"><span class="tah p11">73,500</span></td>
<td class="num"><span class="tah p11">12,860,661</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2024.01.23</span></td>
<td class="num"><span class="tah p11">75,200</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				100
				</span>
</td>
<td class="num"><span class="tah p11">75,700</span></td>
<td class="num"><span class="tah p11">75,800</span></td>
<td class="num"><span class="tah p11">74,300</span></td>
<td class="num"><span class="tah p11">14,786,224</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2024.01.22</span></td>
<td class="num"><span class="tah p11">75,100</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				400
				</span>
</td>
<td class="num"><span class="tah p11">75,900</span></td>
<td class="num"><span class="tah p11">76,000</span></td>
<td class="num"><span class="tah p11">75,000</span></td>
<td class="num"><span class="tah p11">19,673,375</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2024.01.19</span></td>
<td class="num"><span class="tah p11">74,700</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				3,000
				</span>
</td>
<td class="num"><span class="tah p11">73,500</span></td>
<td class="num"><span class="tah p11">74,700</span></td>
<td class="num"><span class="tah p11">73,000</span></td>
<td class="num"><span class="tah p11">23,363,427</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2024.01.18</span></td>
<td class="num"><span class="tah p11">71,700</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				700
				</span>
</td>
<td class="num"><span class="tah p11">71,600</span></td>
<td class="num"><span class="tah p11">72,000</span></td>
<td class="num"><span class="tah p11">70,700</span></td>
<td class="num"><span class="tah p11">17,853,397</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
</table>
<!--- 페이지 네비게이션 시작--->
<table align="center" class="Nnavi" summary="페이지 네비게이션 리스트">
<caption>페이지 네비게이션</caption>
<tr>
<td class="on">
<a href="/item/sise_day.nhn?code=005930&amp;page=1">1</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=005930&amp;page=2">2</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=005930&amp;page=3">3</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=005930&amp;page=4">4</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=005930&amp;page=5">5</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=005930&amp;page=6">6</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=005930&amp;page=7">7</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=005930&amp;page=8">8</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=005930&amp;page=9">9</a>
</td>
<td>
<a href="/item/sise_day.nhn?code=005930&amp;page=10">10</a>
</td>
<td class="pgR">
<a href="/item/sise_day.nhn?code=005930&amp;page=11">
				다음<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3"/>
</a>
</td>
<td class="pgRR">
<a href="/item/sise_day.nhn?code=005930&amp;page=693">맨뒤
				<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8"/>
</a>
</td>
</tr>
</table>
<!--- 페이지 네비게이션 끝--->
</body>
</html>

In [8]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

def crawling(soup):
    result = []
    for row in soup.find_all('tr', onmouseover=lambda x: x is not None):
        cols = row.find_all('td', class_='num')
        date = row.find('span', class_='tah p10 gray03').get_text().strip()
        values = [date] + [col.get_text().strip().replace(',', '') for col in cols]
        result.append(values)
    return result

company_code = '005930'  # 삼성전자
url = "https://finance.naver.com/item/sise_day.nhn?code=" + company_code

headers = {
    'referer': 'https://finance.naver.com/item/sise.naver?code=005930',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36'
}
response = requests.get(url, headers=headers)

soup = BeautifulSoup(response.text, "html.parser")

data = crawling(soup)

columns = ["날짜", "종가", "전일비", "시가", "고가", "저가", "거래량"]
df = pd.DataFrame(data, columns=columns)

print(df)

           날짜     종가   전일비     시가     고가     저가       거래량
0  2024.01.31  72700  1600  73400  74000  72700  10782496
1  2024.01.30  74300   100  75000  75300  73700  12244418
2  2024.01.29  74400  1000  73800  75200  73500  13976521
3  2024.01.26  73400   700  73700  74500  73300  11160062
4  2024.01.25  74100   100  74200  74800  73700  11737747
5  2024.01.24  74000  1200  75200  75200  73500  12860661
6  2024.01.23  75200   100  75700  75800  74300  14786224
7  2024.01.22  75100   400  75900  76000  75000  19673375
8  2024.01.19  74700  3000  73500  74700  73000  23363427
9  2024.01.18  71700   700  71600  72000  70700  17853397

In [14]:
import requests
import pandas as pd
from bs4 import BeautifulSoup


company_code = '005930'  # 삼성전자
url = "https://finance.naver.com/item/sise_day.nhn?code=" + company_code

headers = {
    'referer': 'https://finance.naver.com/item/sise.naver?code=005930',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36'
}


N = 12
for pageNum in range(1, N+1):
    url = f'https://finance.naver.com/item/sise_day.nhn?code=005930&page={pageNum}'
    #print(url)
    req = requests.get(url, headers=headers)
    soup = BeautifulSoup(req.content, "html.parser")
    result = pd.read_html(req.text, encoding='euc-kr')[0]
    #print(result)
    #print(type(result))
    df = pd.concat([df, result], ignore_index=True)
    
df

             날짜       종가     전일비       시가       고가       저가         거래량
0    2024.01.31    72700    1600    73400    74000    72700    10782496
1    2024.01.30    74300     100    75000    75300    73700    12244418
2    2024.01.29    74400    1000    73800    75200    73500    13976521
3    2024.01.26    73400     700    73700    74500    73300    11160062
4    2024.01.25    74100     100    74200    74800    73700    11737747
..          ...      ...     ...      ...      ...      ...         ...
365  2023.08.09  68900.0  1300.0  68000.0  69600.0  67900.0  17259673.0
366  2023.08.08  67600.0   900.0  69000.0  69100.0  67400.0  14664709.0
367  2023.08.07  68500.0   200.0  67700.0  69200.0  67600.0  10968505.0
368  2023.08.04  68300.0   500.0  68800.0  69100.0  68200.0  12360193.0
369         NaN      NaN     NaN      NaN      NaN      NaN         NaN

[370 rows x 7 columns]

In [15]:
df.dropna(inplace=True)

In [16]:
df

             날짜       종가     전일비       시가       고가       저가         거래량
0    2024.01.31    72700    1600    73400    74000    72700    10782496
1    2024.01.30    74300     100    75000    75300    73700    12244418
2    2024.01.29    74400    1000    73800    75200    73500    13976521
3    2024.01.26    73400     700    73700    74500    73300    11160062
4    2024.01.25    74100     100    74200    74800    73700    11737747
..          ...      ...     ...      ...      ...      ...         ...
364  2023.08.10  68000.0   900.0  68300.0  68500.0  67800.0  10227311.0
365  2023.08.09  68900.0  1300.0  68000.0  69600.0  67900.0  17259673.0
366  2023.08.08  67600.0   900.0  69000.0  69100.0  67400.0  14664709.0
367  2023.08.07  68500.0   200.0  67700.0  69200.0  67600.0  10968505.0
368  2023.08.04  68300.0   500.0  68800.0  69100.0  68200.0  12360193.0

[250 rows x 7 columns]